<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test-bootstrap.php"
         backupGlobals="false"
         colors="true">

  <php>
    <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_HOST" value="127.0.0.1"/>
    <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_PORT" value="4444"/>
    <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_BROWSER" value="*firefox"/>
    <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM2_BROWSER" value="firefox"/>
    <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_TESTS_URL" value="http://127.0.0.1:8080/"/>
  </php>


  <testsuites>
    <testsuite name="ScaleTest">
      <file>tests/ScaleTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>